[submodule "vim/.vim/plugged/base16-vim"]
	path = vim/.vim/plugged/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "zsh/zsh-plugins/z.lua"]
	path = zsh/zsh-plugins/z.lua
	url = https://github.com/vivek-x-jha/z.lua
[submodule "zsh/zsh-plugins/zsh-completions"]
	path = zsh/zsh-plugins/zsh-completions
	url = https://github.com/vivek-x-jha/zsh-completions
[submodule "zsh/zsh-plugins/zsh-syntax-highlighting"]
	path = zsh/zsh-plugins/zsh-syntax-highlighting
	url = https://github.com/vivek-x-jha/zsh-syntax-highlighting
[submodule "zsh/zsh-plugins/zsh-history-substring-search"]
	path = zsh/zsh-plugins/zsh-history-substring-search
	url = https://github.com/vivek-x-jha/zsh-history-substring-search
[submodule "zsh/zsh-plugins/zsh-you-should-use"]
	path = zsh/zsh-plugins/zsh-you-should-use
	url = https://github.com/vivek-x-jha/zsh-you-should-use
[submodule "zsh/zsh-plugins/zsh-autosuggestions"]
	path = zsh/zsh-plugins/zsh-autosuggestions
	url = https://github.com/vivek-x-jha/zsh-autosuggestions
[submodule "neofetch/themes"]
	path = neofetch/themes
	url = https://github.com/Chick2D/neofetch-themes
[submodule "zsh/zsh-plugins/zsh-autocomplete"]
	path = zsh/zsh-plugins/zsh-autocomplete
	url = git@github.com:marlonrichert/zsh-autocomplete.git
[submodule "zsh/zsh-plugins/zoxide"]
	path = zsh/zsh-plugins/zoxide
	url = git@github.com:ajeetdsouza/zoxide.git
[submodule "alfred/alfred-github-star"]
	path = alfred/alfred-github-star
	url = git@github.com:vivek-x-jha/alfred-github-star.git
[submodule "alfred/alfred-movie-tv-search"]
	path = alfred/alfred-movie-tv-search
	url = git@github.com:tmcknight/Movie-and-TV-Show-Search-Alfred-Workflow.git
[submodule "alfred/alfred-1password"]
	path = alfred/alfred-1password
	url = git@github.com:alfredapp/1password-workflow.git
[submodule "alfred/alfred-reminders"]
	path = alfred/alfred-reminders
	url = git@github.com:surrealroad/alfred-reminders.git
[submodule "alfred/alfred-dash"]
	path = alfred/alfred-dash
	url = git@github.com:Kapeli/Dash-Alfred-Workflow.git
