[init]
	defaultBranch = main
[user]
	name = Vivek Jha
	email = vivek.x.jha@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOK5uQ9GkYPNNwckcMPr9U1bR/yy+hDO1XPAiSCNtC7G
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[core]
	editor = nvim
	pager = less
	sshCommand = ssh -F ~/.dotfiles/ssh/config
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[color "status"]
	header = black
	untracked = red
	added = green
	changed = yellow
	branch = magenta
	nobranch = red
	remoteBranch = blue
	localBranch = cyan
	unmerged = yellow
[color "diff"]
	old = red
	meta = black
	new = green
	frag = magenta
	context = brightblack
[color "decorate"]
	HEAD = green
	branch = magenta
	remoteBranch = blue
	tag = brightyellow
	stash = cyan
	grafted = red
	hash = magenta
