<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0041EBDA-493C-4438-873E-1B11E2BAE3C3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>pin</string>
			<key>text</key>
			<string>Search Pinterest for '{query}'</string>
			<key>url</key>
			<string>https://www.pinterest.com/search/pins/?q={query}</string>
		</dict>
		<key>02FA49A8-17FF-432B-8994-4AF35A2B2D34</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wiki</string>
			<key>text</key>
			<string>Search Wikipedia for '{query}'</string>
			<key>url</key>
			<string>https://www.wikiwand.com/en/{query}</string>
		</dict>
		<key>0A363FAC-589A-45F0-B46B-A51A16895476</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rg</string>
			<key>text</key>
			<string>Search ReelGood for '{query}'</string>
			<key>url</key>
			<string>https://reelgood.com/search?q={query}</string>
		</dict>
		<key>1FFBCEFD-866E-4E09-8F56-3ADCE2FF392B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gmail</string>
			<key>text</key>
			<string>Search Gmail for '{query}'</string>
			<key>url</key>
			<string>https://mail.google.com/mail/u/0/#search/{query}</string>
		</dict>
		<key>2EC02C62-9BD2-400A-9D7E-7097F44FBF7B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gphotos</string>
			<key>text</key>
			<string>Open Google Photos</string>
			<key>url</key>
			<string>https://photos.google.com/</string>
		</dict>
		<key>37083A6B-9C74-4207-B90D-32C8C335A4F2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ig</string>
			<key>text</key>
			<string>Open Instagram</string>
			<key>url</key>
			<string>https://www.instagram.com/direct/inbox/</string>
		</dict>
		<key>456C5E46-E7A6-41E1-B4EC-F97E7EC0726D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rh</string>
			<key>text</key>
			<string>Search Robinhood for '{query}'</string>
			<key>url</key>
			<string>https://robinhood.com/stocks/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4E192C91-1701-4B3B-9B37-972F38E2A7CD</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>water</string>
			<key>text</key>
			<string>Toggle Circulator</string>
			<key>url</key>
			<string>http://192.168.0.135/</string>
		</dict>
		<key>56747D3F-14BF-4EC0-845B-4546040C97B8</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gdrive</string>
			<key>text</key>
			<string>Open Google Drive</string>
			<key>url</key>
			<string>https://drive.google.com/</string>
		</dict>
		<key>67120E76-1BF3-4735-A3EB-92054F972CA9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nba</string>
			<key>text</key>
			<string>Open NBA Streams</string>
			<key>url</key>
			<string>https://official.nbabite.com/</string>
		</dict>
		<key>9A5C815C-3015-4C7B-9B69-0820A9E0EB82</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gmail</string>
			<key>text</key>
			<string>Open Gmail</string>
			<key>url</key>
			<string>https://mail.google.com/mail/u/0/</string>
		</dict>
		<key>A25ACEF8-706F-42E9-8F85-27B48BFB489C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>img</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Search Google Images for '{query}'</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}&amp;tbm=isch</string>
		</dict>
		<key>A25C98D1-C5E1-4C63-8E5F-1B24ACCC561B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yelp</string>
			<key>text</key>
			<string>Search Yelp for {query} in '{query}'</string>
			<key>url</key>
			<string>https://www.yelp.com/search?find_desc={query}&amp;find_loc=San%20Francisco%2C%20CA&amp;ns=1&amp;open_now=9596&amp;attrs=OutdoorSeating</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C05B3078-6AE3-4A4E-ADC1-FCF402D64A1D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>yt</string>
			<key>text</key>
			<string>Search Youtube for '{query}'</string>
			<key>url</key>
			<string>https://www.youtube.com/results?search_query={query}</string>
		</dict>
		<key>D6188397-226B-4F42-BB0B-C03E5A0BF1ED</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>az</string>
			<key>text</key>
			<string>Search Amazon for '{query}'</string>
			<key>url</key>
			<string>https://www.amazon.com/s?k={query}</string>
		</dict>
		<key>E074A5FF-99EC-4DF8-8440-66C9B02F7D53</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sa</string>
			<key>text</key>
			<string>Search Seeking Alpha for '{query}'</string>
			<key>url</key>
			<string>https://seekingalpha.com/symbol/{query}</string>
		</dict>
		<key>F5C6B958-9C1F-47E1-925B-5F185660790D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ps</string>
			<key>text</key>
			<string>Open Pokemon Showdown</string>
			<key>url</key>
			<string>https://play.pokemonshowdown.com/</string>
		</dict>
	</dict>
</dict>
</plist>
